body {
    margin: 0;
    overflow: hidden;
    font: 9pt 'Lucida Grande', 'Trebuchet MS', Verdana,Tahoma, Sans-Serif
}

/*
* Animations
*/

@-webkit-keyframes 'zoomAppear' {
    from {
        opacity:0;
        -webkit-transform:scale(0.5,0.5);
    }
    to {
        opacity:1;
        -webkit-transform:scale(1,1);
    }
}

@-webkit-keyframes 'spinner' {
    from {
        -webkit-transform:rotate(0);
    }
    to {
        -webkit-transform:rotate(360deg);
    }
}

/*
* MAIN CONTAINERS
*/

#main-content {
    position: relative;
    width: 377px;
    height: 550px;
    margin: 10px 10px 5px 10px;
}

#main-content.welcome {
    height: auto;
    margin-bottom: 20px;
}

#main-content.auth {
    height: auto;
    margin-bottom: 15px;
    width:602px;
}

#main-content.auth-huge {
    height: auto;
    margin-bottom: 15px;
    width:602px;
}

#search-container {
    -webkit-transition: opacity, -webkit-transform, 0.3s ease-in-out 0.2s;
    position: relative;
}

#search-container.init-animation {
    -webkit-transform: translate(0,-6px);
    opacity:0;
}

#player-and-tracklist-container {
    -webkit-transition: top 0.3s ease-in-out;
    position: absolute;
    bottom: 0;
    top: 38px;
    left: 0;
    right: 0;
}
#player-and-tracklist-container.collapsed {
    top: 135px;
}

#player-container{
    -webkit-transition: -webkit-transform, opacity, 0.3s ease-in-out;
    position: relative;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0 0 2px gray;
    background:-webkit-gradient(linear, left top, left bottom, from(#FBFBFB), to(whiteSmoke));
}

#player-container.init-animation {
    opacity:0;
    -webkit-transform:scale(0.9,0.9);
}

#track-list-container {
    -webkit-transition: opacity 0.3s ease-in-out 0.1s;
    position: absolute;
    box-shadow: inset #F0F0F0 0 0 2px, inset rgba(0, 0, 0, 0.1) 0 1px 3px;
    border-radius: 5px;
    padding: 5px;
    top: 60px;
    bottom: 20px;
    left: 0;
    right: 0;
}

#track-list-container.init-animation {
    opacity:0;
    /*-webkit-transform:scale(0.9,0.9);*/
}

#status-bar-container{
    -webkit-transition: -webkit-transform, opacity, 0.3s ease-in-out 0.1s;
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#status-bar-container.init-animation {
    opacity:0;
    -webkit-transform:scale(0.9,0.9);
}

/*
* WELCOME WIDGET
*/

#welcome-widget { }

#welcome-widget .title {
    font-size: 18px;
    border-bottom: 1px solid #DFDFDF;
    color: #333;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    /*text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);*/
    background:-webkit-gradient(linear, left top, left bottom, from(#999), to(black));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#welcome-widget .step {
    font-size: 14px;
    line-height: 35px;
    border: 1px solid #DFDFDF;
    margin: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.1);
}

#welcome-widget .step.success {
    background: #FAFAFA;
    box-shadow: inset 0 0 5px #dfdfdf;
    color:gray;
}

#welcome-widget .step .number {
    color:gray;
    font-size: 13px;
}

#welcome-widget .step .button {
    font-size: 12px;
    background: #F0F0F0;
    border: 1px solid #DFDFDF;
    padding: 3px 10px;
    border-radius: 3px;
    margin-left: 10px;
    box-shadow: 0 0 6px #ddd;
    text-shadow: 0 0 1px rgba(200, 200, 200, 0.7);
    cursor: pointer;
}

#welcome-widget .step.success .button {
    cursor: default;
    background: #EEE;
    box-shadow: none;
    border-color: #DDD;
}

#vk-auth-frame {
    -webkit-animation-name: zoomAppear;
    -webkit-animation-duration: .2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    opacity: 0;
    border: 1px solid #DFDFDF;
    position: relative;
    left: 0;
    right: 0;
    top: 5px;
    bottom: 0;
    width: 600px;
    height: 400px;
}

#lastfm-auth-frame {
    -webkit-animation-name: zoomAppear;
    -webkit-animation-duration: .2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    opacity: 0;
    border: 1px solid #DFDFDF;
    position: relative;
    left: 0;
    right: 0;
    top: 5px;
    bottom: 0;
    width: 600px;
    height: 400px;
}


/*
* Search widget
*/

#search-widget {
    -webkit-transition: min-height 0.3s ease-in-out;
    min-height: 28px;
    position: relative;
}

#search-widget.open {
    min-height: 125px;
}

#search-widget .omnibox {
    border: 1px solid #DFDFDF;
    border-radius: 2px;
    font: 9pt 'Lucida Grande', 'Trebuchet MS', Verdana,Tahoma, sans-serif;
    position: absolute;
    top: 0;
    right: -2px;
    left: -1px;
    height: 20px;
    padding: 3px 7px;
}

#search-widget .omnibox::-webkit-input-placeholder {
    text-align: center;
}

#search-widget .omnibox:focus {
    outline: none;
    box-shadow: inset 0 0 1px #dfdfdf;
}

#search-widget .omnibox-clear {
    background:url(clear.png) no-repeat -15px 0;
    height: 15px;
    width: 15px;
    position: absolute;
    top: 7px;
    right: 6px;
    opacity: .5;
    cursor: pointer;
}
#search-widget .omnibox-clear:hover {
    background-position: 0 0;
}

#search-widget .results {
    position: absolute;
    font: 9pt 'Lucida Grande', 'Trebuchet MS', Verdana,Tahoma, sans-serif;
    padding: 7px;
    border-radius: 0 0 5px 5px;
    border: 1px solid #DFDFDF;
    border-top: none;
    top: 28px;
    right: 2px;
    left: 2px;
    bottom: 0;
    overflow: hidden;


    background: url(search-bg.jpg) no-repeat bottom left;
    color: white;
    background-size: 380px 96px;
}

#search-widget .results .message {
    font-size: 14px;
    color: white;
    text-shadow: 0 0 10px black, 0 0 3px rgba(0, 0, 0, 0.4);
    font-weight: bold;
    text-align: center;
    line-height: 88px;
}

#search-widget .results .track {
    position: relative;
    padding-left: 10px;
    height: 21px;
    line-height: 21px;
    overflow: hidden;
    cursor: pointer;
}
#search-widget .results .track:hover {
    color: #DFDFDF;
    text-shadow: 0 0 3px black;
}

#search-widget .results .track .triangle {
    width: 0;
    height: 0;
    position: absolute;
    left: 1px;
    top: 7px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 5px solid #CCC;
    display:none;
}

#search-widget .results .track:hover .triangle {
    display:block;
    color: #DFDFDF;
    /*box-shadow:0 0 8px rgba(0,0,0,0.7);*/
}


/*
* Player widget
*/

#player-widget {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:25px;
}

#player-widget .button { position:absolute; cursor:pointer; background-repeat: no-repeat; background-position:center center; border-radius:3px; }
#player-widget .button.play { top:13px; left:8px; height:25px; width:25px; background-image:url('play.png'); }
#player-widget .button.pause { top:13px; left:8px; height:25px; width:25px; background-image:url('pause.png'); display:none; }

#player-widget .button.next {
    top:5px;
    left:351px;
    width:17px;
    height:14px;
    background:url(next.png) no-repeat 4px center;
    border: 1px solid #dfdfdf;
}

#player-widget .button.love {
    top:29px;
    left:351px;
    width:13px;
    height:11px;
    padding: 2px;
    background:url(love.png) no-repeat -13px 0;
    background-origin: content-box;
    background-clip: content-box;
    border: 1px solid #dfdfdf;
}

#player-widget .button.love.undetermined {
    background-position: 0 0;
}
#player-widget .button.love.disabled {
    background-position: 0 0;
    opacity:0.1;
    cursor: default;
}
#player-widget .button.love.loved {
    background-position: -26px 0;
}

#player-widget.playing .button.play { display:none; }
#player-widget.playing .button.pause { display:block; }

#player-widget .button.down { box-shadow: inset rgba(0, 0, 0, 0.1) 0 1px 3px; }

#player-widget .inner-background {
    position:absolute;
    top: 5px;
    left: 40px;
    right: 8px;
    text-align: center;
    overflow: hidden;
    bottom: 5px;
    line-height: 31px;
    background-color: #fefefe;
    border-radius: 4px;
    box-shadow:
        inset 0 0 2px gray,
        inset rgba(0, 0, 0, 0.1) 0 1px 3px;
}

#player-widget .title { position:absolute; top: 10px; left: 46px; right: 14px; height:16px; text-align: center; overflow:hidden; }

#progress-shadow-reference {
    display:none;
    box-shadow:
        inset rgba(0, 0, 0, 0.1) 0 -5px 12px,
        inset rgba(0, 0, 0, 0.6) 0 1px 3px,
            /*inset rgba(60, 200, 255, 0.8) -100px 0 0,*/
        inset rgba(167, 238, 125, 1) -200px 0 0,
        rgba(255, 255, 255, 0.4) 0 1px;
}

#player-widget .progress {
    position: absolute;
    height: 5px;
    top: 33px;
    left: 87px;
    right: 55px;
}

#player-widget .progress-background {
    position: absolute;
    height: 5px;
    background-color: #dfdfdf;
    box-shadow:
        inset rgba(0, 0, 0, 0.1) 0 -5px 12px,
        inset rgba(0, 0, 0, 0.6) 0 1px 3px,
        rgba(255, 255, 255, 0.4) 0 1px;
    border-radius:3px;
    top:0;
    bottom:0;
    left: 9px;
    right: 9px;
    cursor:pointer;
}

#player-widget .progress-handle {
    position: absolute;
    width:18px;
    height:18px;
    top: -7px;
    left: 0;
    background:url(slider.png) no-repeat 0 center;
    cursor:pointer;
}

#player-widget .progress-handle.down {
    background-position:-18px center;
}

#player-widget .time, #player-widget .duration {
    font:5.7pt Verdana;
    line-height: 12px;
    position: absolute;
    top: 29px;
    background-color: #DFDFDF;
    border-radius: 3px;
    padding: 0 1px;
    text-align: center;
    width: 40px;
    box-shadow:inset gray 0 0 2px;
}

#player-widget .time { left: 45px; }
#player-widget .duration { right: 13px; }

#player-widget .playlist-position {
    font:5.7pt Verdana;
    line-height: 12px;
    position: absolute;
    top: 5px;
    left: 328px;
    background-color: #f9f9f9;
    border-radius: 3px;
    padding: 0 1px;
    text-align: center;
    width: 40px;
    box-shadow:inset gray 0 0 2px;
    cursor:pointer;
}
#player-widget .playlist-position.down {
    box-shadow:
        inset gray 0 0 2px,
        inset rgba(0, 0, 0, 0.2) 0 1px 3px;
}

/*
* Track list widget
*/

#track-list {
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

#track-list .viewport {
    overflow: hidden;
    position: absolute;
    left: 10px;
    right: 20px;
    top: 10px;
    bottom: 10px;
}

#track-list.mini .viewport { height: 330px; }

#track-list .viewport.wide { right: 10px; }
#track-list .overview {
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    right:0;
}

#track-list .thumb .end,
#track-list .thumb {
    background-color: #3ccbff;
    border-radius: 5px;
}

#track-list .scrollbar {
    position: absolute;
    width: 8px;
    cursor: pointer;
    top: 10px;
    right: 7px;
    bottom: 0;
}

#track-list .track {
    background-color: #a7ee7d;
    height: 100%;
    width:8px;
    position: relative;
    padding: 0;
    border-radius: 5px;
}

#track-list .thumb {
    height: 20px;
    width: 8px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 0;
}

#track-list .thumb .end {
    overflow: hidden;
    height: 5px;
    width: 8px;
    display:none;
}

#track-list .disable{ display: none; }

/*
* Track widget
*/

.track-widget {
    margin: 2px 2px 5px 2px;
    height:30px;
    line-height:31px;
    position:relative;
    background-color: white;
    border-radius:5px;
    box-shadow:0 0 2px gray;
    cursor:pointer;
    overflow:hidden;
    padding:0 10px;
}

.track-widget.down {
    box-shadow:
        0 0 2px gray,
        inset rgba(0, 0, 0, 0.1) 0 1px 5px;
}

.track-widget.even {
    background-color: #fcfbfb;
}

.track-widget.last { margin-bottom: 2px; }

.track-widget.playing {
    box-shadow:0 0 2px #3ccbff;
}

.track-widget.playing.down {
    box-shadow:
        0 0 2px #3ccbff,
        inset rgba(0, 0, 0, 0.1) 0 1px 5px;
}

.track-widget.paused {
    box-shadow:0 0 2px #a7ee7d;
}

.track-widget.paused.down {
    box-shadow:
        0 0 2px #a7ee7d,
        inset rgba(0, 0, 0, 0.1) 0 1px 5px;
}

.track-widget.error {
    background-color: gray;
}

.track-widget .number {
    color: #ccc;
}

.track-widget .track-mp3s {
    background-color:white;
    color: #ccc;
    box-shadow: inset 0 0 2px gray;
    border-radius: 3px;
    padding: 3px 5px;
    font-size: 7pt;
    position: absolute;
    top: 7px;
    right: 7px;
    height: 10px;
    line-height: 10px;
    font-weight:bold;
    display:none;
}
.track-widget .track-mp3s.down {
    box-shadow: inset 0 0 4px #626262;
}

.track-widget.playing .track-mp3s {
    display:block;
}

/*
* Status bar widget
*/

#status-bar-widget {
    height:12px;
}

#status-bar-widget .status-bar-item.down {
    box-shadow:
        inset gray 0 0 2px,
        inset rgba(0, 0, 0, 0.2) 0 1px 3px;
}

#status-bar-widget .settings-button {
    float:right;
    cursor:pointer;
    margin-left:5px;
    width: 12px;
    height: 12px;
    background-size: cover;
    background: url(settings.png) no-repeat 0 0;
    opacity: 0.7;
}

#status-bar-widget .settings-menu {
    position: absolute;
    background: white;
    border-radius: 4px;
    bottom: 16px;
    right: 0;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    padding: 5px 0;
    font-size: 12px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -webkit-animation-name: zoomAppear;
    -webkit-animation-duration: .2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    opacity: 0;
}

#status-bar-widget .settings-menu .item {
    padding: 5px 15px;
    color: #333;
    position: relative;
    cursor: default;
}

#status-bar-widget .settings-menu .item:hover {
    text-shadow: 0 0 2px #ccc;
    /*background: #99ccff;*/
}

#status-bar-widget .settings-menu .item.separator {
    height: 1px;
    background: #EEE;
    margin: 4px 0;
    padding: 0;
}

#status-bar-widget .settings-menu .item.disabled {
    color: #B2B2B2;
    font-weight: normal;
    padding: 3px 15px;
}
#status-bar-widget .settings-menu .item.disabled:hover {
    text-shadow: none;
}

#status-bar-widget .settings-menu .smiley {
    position: absolute;
    right: 10px;
    top: 5px;
}

#status-bar-widget .playlist-position {
    font:5.7pt Verdana;
    float:right;
    line-height: 12px;
    background-color: #f9f9f9;
    border-radius: 3px;
    padding: 0 3px;
    text-align: center;
    box-shadow:inset gray 0 0 2px;
    cursor:pointer;
}

#status-bar-widget .scrobbling-status {
    font:5.7pt Verdana;
    float:right;
    line-height: 12px;
    background-color: #f9f9f9;
    border-radius: 3px;
    padding: 0 3px;
    text-align: center;
    box-shadow:inset gray 0 0 2px;
    cursor:pointer;
    margin-right:5px;
}
#status-bar-widget .scrobbling-status.on {
    box-shadow:
        inset gray 0 0 2px,
        inset rgba(0, 180, 255, 0.8) 0 0 3px;
}


#status-bar-widget .lastfm-status {
    font:5.7pt Verdana;
    line-height: 12px;
    float:left;
    background-color: #f9f9f9;
    border-radius: 3px;
    padding: 0 3px;
    text-align: center;
    /*box-shadow:inset #F0F0F0 0 0 2px, inset rgba(0, 0, 0, 0.1) 0 1px 3px;*/
}

#status-bar-widget .vk-status {
    font:5.7pt Verdana;
    float:left;
    line-height: 12px;
    margin-left:5px;
    background-color: #f9f9f9;
    border-radius: 3px;
    padding: 0 3px;
    text-align: center;
    /*box-shadow:inset #F0F0F0 0 0 2px, inset rgba(0, 0, 0, 0.1) 0 1px 3px;*/
}

/*
* VARIOUS PARTS
*/

.spinner-widget {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.spinner-widget .outer {
    height: 100%;
    width: 100%;
    display: table;
    position: static;
}
.spinner-widget .middle {
    display: table-cell;
    width: 100%;
    top: 50%;
    vertical-align: middle;
    position: static;
}

.spinner-widget .inner {
    -webkit-animation-name: spinner;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.40, 0.50, 0.50, 0.20);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 33px;
    height: 35px;
    top: -50%;
}
.spinner-widget .inner.delayed {
    -webkit-animation-delay: .3s;
}

.spinner-widget .part {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #f0f0f0;
    border-radius: 3px;
    box-shadow: 0 0 15px white, 0 0 4px #000;
}

.spinner-widget .part:first-child {
    box-shadow: 0 0 15px white, 0 0 4px black;
    background: #333;
}
